<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Todo</title>
</head>
<body>
<div>
    <form method="post" action="/">
        <input type="text" title="title" name="title" required/>
        <input type="text" title="content" name="content" required/>
        <input type="submit" title="Submit"/>
    </form>
</div>
</body>
</html>
