<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All todos</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
    <div class="container">
        <div class="todo-row">
            <h4 class="todo-column">
                Title
            </h4>
            <h5 class="todo-column">
                Content
            </h5>
            <h5 class="todo-column">
                Date
            </h5>
        </div>
    </div>
</body>
</html>
