<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All todos</title>

    <style>
        .container {
            width: 80%;
            position: center;
            text-align: center;
        }
        .todo-row {
            background: ghostwhite;
            color: black;
            flex-direction: column;
        }
        .todo-column {
            width: 33.33%;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="todo-row">
            <h4 class="todo-column">
                Title
            </h4>
            <h5 class="todo-column">
                Content
            </h5>
            <h5 class="todo-column">
                Date
            </h5>
        </div>
    </div>
</body>
</html>
