<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search page</title>
</head>
<body>
<div>
    <form method="GET" action="/search">
        <label for="content">Search by content or title:</label>
        <input id="content" type="text" title="content/title" name="content" 
        placeholder="Enter content or title" required/>
        <input type="submit" title="Search"/>
    </form>
</div>
</body>
</html>
